body{
	width: auto;
	margin: 0;
	background-color: white;
	color: #333333;
	font-family: verdana,arial,helvetica,sans-serif;
	font-size: 90%;
	.cfx{
		*zoom:1;
		*min-height:0;
	}
	.cfx:after{
		content:"";
		display:block;
		clear:both;
	}
	a{
		background-color:inherit;
		text-decoration:none;
		&:link{
			color:#215dc6;
		}
		&:visited{
			color:#0022bb;
			#header &{
				color:#215dc6;
			}
		}
		&:hover{
			background-color:#ccddee;
			text-decoration:underline;
		}
	}
	ul {
	    margin: 0.5em 0;
	    padding: 0 0 0 4px;
	    line-height: 130%;
	}
	h1{
	    font-weight: bold;
	    margin: 12px 0 0;
	    padding: 6px 0 0;
	    font-size: 18px;
	    line-height: 22px;
	    margin-top: 4px;
	}
	h2{
		margin: 0 0 0.5em;
		padding: 0.3em 0.5em;
	}
	.undertone{
		font-size:10px;
		color:#666;
	}
	#ads1 {margin:0 auto 15px;}
	#ads2 {margin:15px 0;}
	#ads3 {margin:0 auto 15px;clear:both;}
	.ads_top{width:320px;height:100px;margin:0 auto;}
	.ads_bottom{width:auto;height:auto;margin:0 auto;}

	@media all and (max-width: 350px) {
		.ads_top{margin:0 -10px;}
	}
	@media all and (min-width: 800px) {
		.ads_top{width:728px;height:90px;}
		.ads_bottom{width:728px;height:90px;}
	}
	@media all and (min-width: 950px) {
		#ads1 {width:950px; margin:0 auto 20px;}
	}


	#header{
		margin: 0 10px 20px;
		@media all and (min-width: 480px) {
			max-width:950px;
			min-width:320px;
			/*margin:10px auto;*/
		}
		.logo{
			background: rgba(0, 0, 0, 0) url("http://pad.rtwiki.net/image/pad/icon_088.png") no-repeat scroll 0 0;
			display: block;
			float: left;
			height: 49px;
			margin: 6px 16px 10px 0;
			overflow: hidden;
			padding: 0;
			text-indent: -9999px;
			width: 49px;
		}
		.topicpath {
		    font-size: 12px;
		}
	}

	.wrapper{
		@media all and (min-width: 950px) {
			width:950px; margin:0 auto 20px;
		}
		.notice{
			text-align: center;
			span{
				margin: 0 5px;
			}
		}
	}
	.panel{
		margin: 5px 10px;
		@media all and (min-width: 480px) {
			max-width:630px;
			min-width:320px;
			margin:10px auto 20px;
		}
		@media all and (min-width: 950px) {
			float:left;
			width:630px;
		}
		.yokoLink{
			@media all and (min-width: 480px) {
				margin-left:15px;
			}
			margin: 0;
			font-size: 11px;
			li{
				float:left;
				margin:0 6px 10px 0;
				list-style:none;
				a{
					background:#3097b5;
					color: #fff;
					padding:3px 6px;
					border-radius:10px;}
				&.active a{
					background:#5bb75b;
					font-weight:bold;
				}
				&.active a:link,
				&.active a:visited{
					color: #fff;
				}
			}
		}
	}
	.panelInner{
		@media all and (min-width: 480px) {
			margin:0 10px;
			padding:10px;
			border:3px solid #eee;
			border-radius:4px;
		}
		.monsImg{
			float:left;
			display:inline-block;
			width:32px;
			height:32px;
			background:url(http://pad.rtwiki.net/image/spacer.gif) no-repeat;
			background-size:32px auto;
		}
		.maker{
			.allCheck{
				margin-bottom:5px;
				label{
					padding:4px;
					opacity:1;
					border:1px solid #ccc;
					background:#eee;
				}
			}
			h2{
				display:inline-block;
				width:5em;
				font-size:11px;
				font-weight:normal;
				vertical-align:top;
				background:none;
				border-left:6px solid #aaccff;
				border-radius:0;
				@media all and (max-width: 350px) {
					display:block;
					width:5em;
					font-size:11px;
					font-weight:normal;
					vertical-align:top;
				}
			}
			label{
				display:inline-block;
				padding:2px;
				cursor:pointer;
				border:1px solid #eee;
				border-radius:2px;
				opacity:0.5;
			}
			label.checked{
				background:#fec2b1;
				border:1px solid #dd4500;
				opacity:1;
			}
			input{
				display:none;
			}
			.group{
				border:0;display:block;padding:5px 5px 0;font-size:5px;
				h2{display:block;width:auto;}
			}
			.group1{
				display:inline-block;background:#fff;margin:0;padding:0 6px 0 0;font-size:5px;
				&:first-child{padding-top:5px;}
				&.groupBr{display:block;}
			}
			.group2{margin:0;padding:0 5px;font-size:5px;}

		}
		#maker-kekka1 em,
		#maker-kekka2 em{
			font-size:30px;font-style:normal;
		}
	}
	.socialColumn{
		margin:0 10px;
		@media all and (min-width: 480px) {
			margin:0 20px 20px;
		}
		@media all and (min-width: 950px) {
			margin:2em 0 0;
			max-width: 320px;
			float:left;
		}
		.kinou{
			margin:5px 0 0;
			padding:0;
			li{
				list-style:none;
				margin:0 0 5px;
			.btn{display:inline-block;padding:4px;background:#eee;border:1px solid #bbb;border-radius:4px;}
			.btn a:hover{background:none;}
			#maker-twitter1.btn{background:#5bb75b;border-color:green;}
			#maker-twitter1.btn a{color:#fff;}
			}
		}
		.twitterTL{
			width:300px;margin:15px auto 10px;border:1px solid #e1e8ec;border-width:0 1px 1px;
			@media all and (max-width: 350px) {
				margin:15px auto 10px;
			}
			@media all and (min-width: 950px) {
				margin:15px 0;
			}
		}

		.text{font-size:x-small;color:#666;}
		.rwd{font-size:x-small;color:#666;text-align:center;}

		div.socialBox{
			margin:0 10px 10px;width:300px;
			ul{
				display:table-cell;width:240px;vertical-align:middle;height:30px;font-size:1px;
				li{display:inline-block;margin:1px 10px 0 0;padding:0;list-style:none;}
				li span{display:inline-block;font-size:12px;line-height:20px;margin-left:2px;vertical-align:top;color:#444;}
				li a{display:inline-block;width:20px;height:20px;text-indent:-9999px;overflow:hidden;font-size:1rem;letter-spacing:normal;word-spacing:normal;}
				.Facebook a{background: url("http://pad.rtwiki.net/image/social/facebook.png") 0 0 no-repeat;}
				.Twitter a{background: url("http://pad.rtwiki.net/image/social/twitter.png") 0 0 no-repeat;}
				.Hatena a{background: url("http://pad.rtwiki.net/image/social/hatena.png") 0 0 no-repeat;}
				.Line a{background: url("http://pad.rtwiki.net/image/social/line.png") 0 0 no-repeat;}
				.Google a{background: url("http://pad.rtwiki.net/image/social/google.png") 0 0 no-repeat;}
				:root & .Facebook a{background: url("http://pad.rtwiki.net/image/social/facebook-2x.png") 0 0 no-repeat;-webkit-background-size:20px auto;background-size:20px auto;}
				:root & .Twitter a{background: url("http://pad.rtwiki.net/image/social/twitter-2x.png") 0 0 no-repeat;-webkit-background-size:20px auto;background-size:20px auto;}
				:root & .Hatena a{background: url("http://pad.rtwiki.net/image/social/hatena-2x.png") 0 0 no-repeat;-webkit-background-size:20px auto;background-size:20px auto;}
				:root & .Line a{background: url("http://pad.rtwiki.net/image/social/line-2x.png") 0 0 no-repeat;-webkit-background-size:20px auto;background-size:20px auto;}
				:root & .Google a{background: url("http://pad.rtwiki.net/image/social/google-2x.png") 0 0 no-repeat;-webkit-background-size:20px auto;background-size:20px auto;}
			}
		}
	
	}
	.copyright{
		clear: both;
		font-size: 10px;
		margin: 0 10px 10px;
		line-height: 1.4;
	}


}

















